.sacs,
.pierres,
.poubelle {
  display: flex;
  flex-wrap: wrap;
}
.sacs,
.pierres,
h1 {
  justify-content: space-around;
  text-align: center;
  margin: 18px 0 96px 0;
}
.points {
  text-align: center;
  font-size: 2rem;
}
.poubelle {
  justify-content: center;
}

.pierres img,
.poubelle img {
  width: 200px;
  height: auto;
}
.sacs img {
  width: 300px;
  height: auto;
}
.scale {
  transform: scale(130%);
}
